# Virtuelle env
.venv/
env/
venv/
ENV/


# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# IDE & Editor setting
.vscode/
.idea/
.DS_Store

# Container & Tools (optional, aber empfohlen)
.devcontainer/tmp/

# env 
.env
.env.local
.env.*.local

# Unsloth Cache
unsloth_compiled_cache/

# source data
/sources
/dataset
/code/notebooks/outputs
/code/notebooks/arch_assistant_lora
