# Virtuelle env
.venv/
env/
venv/
ENV/


# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# IDE & Editor setting
.vscode/
.idea/
.DS_Store

# Container & Tools (optional, aber empfohlen)
.devcontainer/tmp/

# env 
.env
.env.local
.env.*.local

# Unsloth Cache
unsloth_compiled_cache/

# source data
/sources
/dataset
/code/notebooks/outputs
/code/notebooks/arch_assistant_lora

# Python Caches
__pycache__/
*.pyc
*.pyo

# Trainings-Checkpoints und Outputs
outputs/SFT/trainer/
outputs/SFT/runs/
outputs/SFT/arch_assistant_lora_*/

# Falls du Dateien hast, die vom Training generiert werden:
*.safetensors
*.pt
*.pth
*.bin
